body{
  background-color: #69F0AE;
  font-family: 'Open Sans', sans-serif;
}
.heading_container{
  background-color: #00E676;
  margin: 50px;
  box-shadow: 5px 10px 20px 10px;
}
.heading_container h1{
  color: white;
  padding: 5px;

}
select {
   border-bottom: 3px solid #00E676;
}
select:hover{
  background-color: #69F0AE;
}
.form{
  box-shadow: 5px 10px 20px 10px;
  border-radius: 10px;
  background-color: white;
}
.form_table{
  padding: 20px;
  padding-left: 50px;
}

input{
  border: none;
  border-bottom: 3px solid #00E676;
}
input:hover{
  background-color: #69F0AE;
}

textarea{
      resize: none;
      padding: 10px;
      line-height: 1.5;
      border-radius: 5px;
      border: 1px solid #00E676;
      box-shadow: 1px 1px 1px #999;
}
hr{
  margin: 0px;
  border: 10px solid #00E676;
  border-radius: 4px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;

}
td{
  vertical-align: top;
}
.profile_img{
  width: 150px;
  height: 180px;
}
.img_container{
  background-color: #C8E6C9;
  border-radius: 5px;
  padding: 5px;
  margin: 30px;
}
.img_container:hover{
  background-color: white;
  box-shadow: 5px 10px 20px 5px;
}
button{
  width: 150px;
  height: 50px;
  background-color: #00E676;
  border: none;
  margin: 30px;
  color: white;
  font-size: 18px;
  font-weight: bold;
}
button:hover{

  background-color: #69F0AE;
  box-shadow: 5px 10px 20px 5px black;
}
